:root{
    --main-color: #800829;
    --sec-color: #F4B32B;
    --link-color: #0A744C;
    --text-color: #FFFFFF;
    --dark-color: #2D2D2D;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    color: #242323;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5em;
}
