# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/

# Editor config
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Log files
*.log

# System files
*.swp
*.swo

# Parcel cache
.cache/
